.wrap{
	background-color: #610B21;
}
.navi li{
	display: inline;
	margin-left: 0 ;
	margin-right: 30px;
}
.hero{
	background-color: #FE2EC8
}
.one {
	background-color: orange;
}
.two {
	background-color: blue;
}
.thrid{
	background-color: gray;

}
/*aside{
	background-color: green;
}
.primary{
	background-color: #e3e3e3;
}*/
header{
	height: 40px;
	background-color: yellow;
}
.two {
	margin : 30px 0;
}
